:root {
    --rd-color: red;
    --rd-font-family: 'Courier New', Courier, monospace;
    --rd-font-size: 85xp;

    --ssd-separator-stroke: #EEEEEE;
    --ssd-separator-stroke-width: 0.25;
    --ssd-fill: red;
}